html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
}
h1 {
    text-align: center;
    font-size: 2rem;
    padding: 6px;
}

.control .input {
    text-align: center;
}

.user {
    display: flex;
}
.user .info {
    flex: 1;
}
.user .item {
    margin: 0.8rem 0 0 0.5rem;
    border-bottom: 1px solid #ddd;
    float: left;
    display: block;
}
.user .avatar {
    width: 280px;
    height: 280px;
    display: block;
}

.repos {
  margin-top: 1rem;
  padding-bottom: 5rem;
}
.panel-repo, .panel-heading.repo {
  background: #fff;
}